/* tailwind config here */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* default always Font */
* {
  font-family: 'Poppins', sans-serif;
}

/* custom Font */
.font-Mont {
  font-family: 'Montserrat', sans-serif;
}

/* ok I really learnt this cool way to change scrollbar from google while doing this assignment :) */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(360deg, #9400d3, #3F00FF);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #9400d3, #3F00FF);
  border: 2px solid green

}